<html>
<head th:replace="~{base :: head}">
</head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Novo pedido')}"></div>
		<div class="card mt-3">
			<form
				th:object="${requisicaoNovoPedido}"
				class="card-body"
				action="/pedido/novo"
				method="POST">
				<div class="form-group">
					<label for="nomeProduto">Produto</label> <input
						th:field="*{nomeProduto}"
						th:errorClass="is-invalid"
						class="form-control"
						placeholder="nome do produto" /> <small>Informe qual o nome do produto</small>
					<div
						class="invalid-feedback"
						th:errors="*{nomeProduto}">Erros da url da imagem</div>
				</div>
				<div class="form-group">
					<label for="uriProduto">Url</label> <input
						class="form-control"
						th:errorClass="is-invalid"
						th:field="*{uriProduto}"
						placeholder="url do produto" /> <small>Procure em um site que você deseja e cole a
						url da página aqui!</small>
					<div
						class="invalid-feedback"
						th:errors="*{uriProduto}">Erros da url da imagem</div>
				</div>
				<div class="form-group">
					<label for="uriImagem">Imagem</label> <input
						class="form-control"
						th:errorClass="is-invalid"
						th:field="*{uriImagem}"
						placeholder="url da imagem" /> <small>Copie a url do produto e cole aqui para ajudar
						a conseguir compradores</small>
					<div
						class="invalid-feedback"
						th:errors="*{uriImagem}">Erros da url da imagem</div>
				</div>
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea
						class="form-control"
						th:field="*{descricao}"
						placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
				</div>
				<button
					class="btn btn-primary"
					type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>
